$font-marope: 'Manrope', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace;
$color-primary: linear-gradient(90deg, #ff6eac 0%, #ffb47c 100%, #ffb47c 100%);
$color-primary2: linear-gradient(90deg, #ff618c 0%, #ffaf70 100%);
$color-neural: #8c9095;
$color-expired: #737373;
$color-expired-50: #808080;
$color-neural-black-50: #212529;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-poppins;
    color: $color-neural-black-50;
}

.color-gradient-1 {
    background: $color-primary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient-2 {
    background: $color-primary2;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-expired-50 {
    color: $color-expired;
}

.btn-gradient {
    background: $color-primary2 border-box;
    border-radius: 1.75rem;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    &:hover {
        color: white;
        transform: translateY(-0.25rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
}

.btn-outline-gradient {
    background: linear-gradient(white, white) padding-box,
        $color-primary2 border-box;
    border-radius: 1.75rem;
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
}

.bg-gradient {
    background: $color-primary border-box !important;
    border-radius: 0.25rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
    color: $color-neural-black-50;
    line-height: 1.6;
}

h3 {
    font-weight: 600;
    color: $color-neural-black-50;
    line-height: 1.6;
}

header {
    min-height: 100vh;

    .navbar {
        padding-top: 2rem;
        padding-bottom: 2rem;

        button.btn-outline-gradient,
        button.btn-gradient {
            min-width: 9.75rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

        .nav-link.active {
            background: $color-primary;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
        }

        .nav-link:hover {
            background: $color-primary;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            cursor: pointer;
        }
    }

    .navbar-brand {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        > img {
            width: 50px;
        }
        > span {
            font-family: $font-roboto-mono;
            background: $color-primary;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #hero {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        h1 {
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 1.4;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 2;
            max-width: 33.25rem;
        }

        button {
            min-width: 9.75rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

        .color-gradient-1 {
            display: block;
        }
    }
}

section#benefits {
    padding-top: 7rem;
    .benefits-left {
        min-height: 110px;
        width: auto;
        flex: 1;
        background-color: #808080;

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            width: 1.5rem !important;
            height: 1.5rem !important;
        }

        .carousel-control-next {
            right: -50px !important;
            .btn-gradient {
                padding: 0.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem !important;
                height: 2.5rem !important;
                border-radius: 100%;
                opacity: 1 !important;
                &:hover {
                    transform: translateX(0.25rem);
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                }
                &:active {
                    transform: scaleX(1.3) scaleY(1.3);
                }
            }
        }

        .carousel-control-prev {
            left: -50px !important;
            .btn-gradient {
                padding: 0.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem !important;
                height: 2.5rem !important;
                border-radius: 100%;
                opacity: 1 !important;
                &:hover {
                    transform: translateX(-0.25rem);
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                }
                &:active {
                    transform: scaleX(1.3) scaleY(1.3);
                }
            }
        }

        .carousel-control-next,
        .carousel-control-prev {
            opacity: 1;
        }

        .disabled {
            .btn-gradient {
                background: $color-neural !important;
                cursor: not-allowed;
                &:hover {
                    transform: none;
                    box-shadow: none;
                }
            }
        }

        .carousel-item {
            .card {
                border: none;
                border-radius: 0.25rem 0 0 0;
                max-width: 360px;
                min-height: 112px;
                .card-body {
                    padding: 0.75rem 1.25rem;
                }
            }
            h3 {
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.8;
            }
        }
    }
    .benefits-right {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                display: flex;
                align-items: center;
                font-weight: 400;
                color: $color-expired-50;
                line-height: 2;
                margin-bottom: 1rem;
                &:before {
                    content: image-set('/assets/images/ic-check.png' 2x);
                    margin-right: 1.5rem;
                    display: inline-block;
                    height: 24px !important;
                }
            }
        }
    }
}

section#opportunities {
    padding-top: 7rem;

    p {
        color: $color-expired-50;
    }

    .row p {
        max-width: 33rem;
    }
}

section#cta {
    .row {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

footer {
    padding-top: 7rem;
}
